@use "variables" as *;
@use "mixins" as *;

.employee-info-card-container {
  width: 100%;
  max-width: 1440px;
  background-color: white;
  //display: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 6px $black-6;
}

@media (min-width: 768px) {
  /* .container {
    grid-template-columns: 1fr 3fr;
  } */
  .employee-info-card-container {
    grid-template-columns: 1fr 3fr;
  }
}

.employee-info-card-container > div:first-child {
  padding: 20px 0 0 20px;
}

.avatar-top-container {
  display: flex;
  gap: 20px;
}

.btn-base {
  border: none;
}

.btn-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: $purple-100;

  &:hover,
  &:active {
    background-color: $purple-200;
  }
}

.avatar-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  /* overflow: hidden; */
  position: relative;
}

/* .avatar-wrapper img.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
} */

#employee-page-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.remote-work {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  bottom: 5px;
  left: 15px;
  background-color: $purple-300;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 3px solid #fff;
  z-index: 2;
}

.remote-work img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

#employee-name {
  font-weight: bold;
  text-transform: capitalize;
}

#employee-fullName {
  color: gray;
  text-transform: capitalize;
}

#copy-link {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 12px;
  width: fit-content;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $gray-300;
    transform: scale(1.05);
  }
}

#edit {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border: 1px solid gray;
  border-radius: 4px;
  background-color: white;
  width: fit-content;
  margin-bottom: 20px;
  margin-top: 6px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $gray-300;
  }
}

/* -- Info section-- */
.employee-details-section {
  border-left: 1px solid gray;
  padding: 20px 50px 80px 20px;
}

.info-container {
  h3 {
    text-transform: uppercase;
  }
}

.employee-details-section .info-container:not(:first-child) {
  margin-top: 20px;
}
/* general info */

.info-container h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}
.info-box li {
  margin-top: 15px;
}
.info-label-container {
  display: flex;
  justify-content: space-between;
}

.info-label-box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-label-box span {
  color: grey;
}

#user-details-notfound-page {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  background-color: $purple-100;
  text-align: center;
  margin: 0 auto;
  color: #999a9c;
  padding-bottom: 100px;
  // display: none;
  display: block;
}

#user-details-notfound-page img {
  width: 20%;
}

#user-details-notfound-page p {
  margin: 20px 0 40px 0;
}

.back-homePage-btn {
  background-color: $blue-200;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;

  @include hover-active($blue-300);
}

.edit-form-component {
  // display: none;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px 50px 80px 20px;
  border-left: 1px solid gray;

  .input-block {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    .input-box {
      width: 100%;

      @media (min-width: 768px) {
        width: 50%;
      }
    }
  }

  .middle-name-date {
    display: flex;
    input {
      height: fit-content;
    }
  }

  .cansel-edit-btn {
    display: inline-block;
    border: 1px solid gray;
    padding: 9px 12px;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    text-align: center;
    background-color: $gray-200;
    transition: all 0.3s ease;
    background-color: transparent;

    &:hover,
    &:active {
      background-color: $gray-600;
    }
  }

  .sebmit-edit-btn {
    display: inline-block;
    // width: 100%;
    background: $blue-100;
    border: none;
    color: white;
    padding: 10px 12px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;

    @include hover-active($blue-300);
  }
}

@media (prefers-color-scheme: dark) {
  .employee-info-card-container {
    background-color: $bg-secondary;
  }

  .btn-back,
  #copy-link,
  #edit {
    @include hover-active($gray-700);
  }

  #user-details-notfound-page {
    padding-top: 20px;
    background-color: $gray-700;
    color: white;
  }
}
