@use "variables" as *;
@use "mixins" as *;

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $blue-300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;

  @media (min-width: 768px) {
    padding: 0 25px;
  }
}

#logo-link {
  text-decoration: none;
  outline: none;
}
#logo-link p:first-child {
  font-size: 0.75rem;
}

.logo {
  color: white;
}

.center-nav-link {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.header-nav-link {
  display: inline-block;
  margin: 0 20px;
  color: #e0e6ff;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 4px solid transparent;
  transition: all 0.3s ease;

  &:hover,
  &:active {
    color: $blue-100;
  }
}

.nav-link-activ {
  border-bottom: 4px solid $blue-100;
}

.menu {
  display: none;
  align-items: center;
  gap: 15px;

  @media (min-width: 768px) {
    display: flex;
  }
}

.mobile-menu-btn,
.mobile-clocemenu-btn {
  border: none;
  background-color: $blue-300;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: all 0.3s ease;
}

.mobile-menu-btn {
  display: flex;

  @include hover-active($blue-100);
}
.mobile-clocemenu-btn {
  // display: none;

  @include hover-active($blue-100);
}

@media (min-width: 768px) {
  // .menu {
  //   display: flex;
  // }
  .mobile-menu-btn,
  .mobile-clocemenu-btn {
    display: none;
  }
}

.btn {
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: $blue-400;
  color: white;
  border-radius: 16px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;

  @include hover-active($blue-100);
}

.logout-btn {
  background-color: $blue-400;
  color: white;
  border-radius: 100%;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;

  @include hover-active($blue-100);
}

.profile-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 2px 16px 2px 2px;
  cursor: pointer;

  @include hover-active($blue-100);
}

.profile-btn-imgBox {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.profile-btn-imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.header-sent {
  padding: 8px;
  border-radius: 50%;
}
