@use "variables" as *;
@use "mixins" as *;

.mobile-menu-container {
  // display: none;
  position: fixed;
  width: 100%;
  /* min-height: 100vh;
  height: 100%; */
  height: calc(100vh - 62px);
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  z-index: 2;
  top: 62px;
  right: -100%;
  transition: right 0.3s ease-in-out;
  z-index: 2000;

  &.open {
    right: 0;
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-menu-box1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

.mobile-menu-avatar-box::before {
  padding: 90px;
  background-color: $gray-200;
  border-radius: 100%;
}
.mobile-menu-avatar-box {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
}

.wrap3 {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray-200;
  border-radius: 100%;
}

#mobile-menu-avatar {
  width: 90%;
  height: 90%;
  object-fit: cover;
  flex-grow: 1;
  flex-shrink: 0;
}

.mobile-menu-box2 {
  background-color: $black-50;
}

.mobile-logout-btn {
  border: none;
  color: red;
  text-decoration: underline;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover,
  &:active {
    transform: scale(1.05);
  }
}

.wrapper1 {
  display: flex;
  align-items: center;
}
.wrapper2 {
  display: flex;
}

.wrapper4 {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

// .addres-book-box {
//   padding: 20px 0 20px 20px;
//   border-top: 1px solid #ccc;
//   border-bottom: 1px solid #ccc;
// }

.mobile-nav {
  border-top: 1px solid #ccc;

  a {
    display: block;
    padding: 20px 0 20px 20px;
    text-decoration: none;
    // color: #393f48;
    // color: #42484f;
    color: black;
    border-bottom: 1px solid #ccc;
    transition: all 0.3s ease;

    @include hover-active($gray-300);
  }
}

@media (prefers-color-scheme: dark) {
  .mobile-menu-box1,
  .mobile-logout-btn {
    background-color: $bg-secondary;
  }
  .mobile-nav {
    a {
      color: white;
      @include hover-active($gray-700);
    }
  }
}
