@use "variables" as *;
@use "mixins" as *;

.roles-permissions-page-wrapper {
  // display: none;
  display: grid;
  width: 100%;
  max-width: 1440px;

  grid-template-columns: 1fr;
  gap: 25px;
  padding: 0;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 0 20px;
  }
}

.roles-permissions-container {
  background-color: white;
  border-radius: 4px;
  border: 1px solid gray;
  box-shadow: 0 2px 6px $black-6;

  h2 {
    padding: 20px;
  }

  .table-head {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 0 10px;

    @media (min-width: 768px) {
      padding: 0 20px;
    }

    div {
      padding: 8px 0 8px 20px;
      border-left: 1px solid gray;
      margin: 20px 0;
      text-align: left;
    }

    .basic-search-wrapper {
      color: gray;
      border-color: gray;
      padding-left: 10px;
      margin-right: 20px;

      @media (min-width: 768px) {
        padding-left: 20px;
      }
    }
  }

  .table-row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid gray;
    font-size: 12px;

    @media (min-width: 768px) {
      padding: 20px 20px;
    }

    &:last-child {
      border-bottom: none;
    }

    &:nth-child(odd) {
      background-color: $gray-500;
    }

    .employee-profile {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
        gap: 20px;
      }

      .avatar-img-wrapper {
        width: 50px;
        height: 50px;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
}

.active-role {
  display: inline-block;
  // width: 100%;
  background: $blue-100;
  border: none;
  color: white;
  padding: 10px 12px;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;

  @include hover-active($blue-300);
}

.inactive-role {
  display: inline-block;
  border: 1px solid gray;

  padding: 9px 12px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  text-align: center;
  background-color: $gray-200;
  transition: all 0.3s ease;
  background-color: transparent;

  &:hover,
  &:active {
    background-color: $gray-600;
  }
}

@media (prefers-color-scheme: dark) {
  .roles-permissions-container {
    background-color: $bg-secondary;

    .table-row {
      &:nth-child(odd) {
        background-color: $bg-secondary;
      }
    }
  }

  .inactive-role {
    color: white;
    @include hover-active($gray-700);
  }
}
