$blue-100: #5595ff;
$blue-200: #5096fd;
$blue-300: #3e5db7;
$blue-400: #1753b3;

$purple-100: #f7f8fd;
$purple-200: #eef0f7;
$purple-300: #904cbb;

$gray-100: #fafafb;
$gray-200: #fafafa;
$gray-300: #f2f3f5;
$gray-400: #e0e6ff;
$gray-500: #f6f6f6;
$gray-600: #ededed;
$gray-700: #999a9c;
//transparent black
$black-6: rgba(0, 0, 0, 0.06);
$black-50: rgba(0, 0, 0, 0.5);

$bg-primary: #202124;
$bg-secondary: #292a2d;
$bg-darkGray: #9aa0a6;
